.fn-china:before { content: '\e001';}
.fn-france:before { content: '\e002';}
.fn-germany:before { content: '\e003';}
.fn-italy:before { content: '\e004';}
.fn-spain:before { content: '\e005';}
.fn-us:before { content: '\e006';}
